.courier {
  font-family: Courier, "Lucida Sans Typewriter",
              "Lucida Typewriter", monospace;
}

.f-11 {
  font-size: 11px;
}

.bg-green-unsplash {
  background-color: #71b552;
}

.tracked-lil { 
  letter-spacing: .04em;
}
